body {
    margin: 0;
    padding: 0;
    /* border: 5px solid green; */
    /* height: 100%; */
    font-family: Roboto, sans-serif;

    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #E5E7EB;

    font-size: 18px;
    font-weight: 200;
}

/* img {
    
} */

/* *** FOR RE-USE PURPOSES *** */
.flex {
    display: flex;
}

.flexcol {
    flex-direction: column;
}

.dark-bg {
    background-color: #1F2937;
}


/* *** CLASS *** */

/* HEADER */
.head-text{
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    padding: 32px;

    gap: 26px;
}

.logo {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

.logoimg {
    max-height: 40px;
}

/* HERO */
.hero {
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    
    padding: 32px 120px;
}

/* .hero-container {
    padding: 32px 100px;
} */

.hero-header {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
}

.hero-text {
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

.hero-button {
    width: 100px;
    height: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.hero-img {
    justify-content: center;
    align-items: center;
    padding: 32px;

    height: 150px;
    width: 800px;
    background-color: #aaaaaa;
    margin: 32px;
}

/* CONTENT */
.container {
    /* border: 3px solid green; */
    padding: 38px;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding-bottom: 32px;

    justify-content: center;
    align-items: center;
}

.card-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.card-container-in {
    justify-content: center;
    align-items: center;

    width: 200px;
    /* height: 200px; */
    /* padding: 16px; */
}

.card-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    
    flex-shrink: 0;
    margin: 10px;
}

.card-txt {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.content2 {
    background-color: #E5E7EB;
    justify-content: center;
    padding: 50px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;

    align-items: center;
    justify-content: center;
}

.quote-sign {
    font-weight: 800;
    align-self: flex-end;
}

.content3 {
    justify-content: center;
    align-items: center;

    padding: 70px 0px;
}

.cta {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 30px 70px;
}

.cta-text1 {
    font-weight: 600;
}

.cta-text2 {
    font-weight: 200;
    font-size: 12px;
}


/* FOOTER */
.footer {
    justify-content: center;
    align-items: center;
    
    height: 70px;
}

.foot-copyright {
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 200;
}